---
title: Page
metadata:
    helmet:
---
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>Document</title>
        <link rel='stylesheet' href='{% getBundleFileUrl "css" %}'>
        {%- if metadata.helmet %}
            {{ helmet }}
        {%- endif %}
    </head>

    <body>
        {{ content }}
    </body>
</html>

{% capture globalCSS %}
{% renderGlob 'css/*.css' %}
{% renderGlob 'components/**/*.css' %}
{% endcapture %}
{% css %}
{{ globalCSS | postcss }}
{% endcss %}
