---
layout: layouts/base
---
{% layoutcontent 'partials/switcher', gap: 'gap-2 container prose', limit: 6 %}
<div>
    <h1>Blog</h1>
    <h2>Subtitle</h2>
</div>
<p>Rendered content</p>
{% block footer %}
<span>in the footer</span>
{% endblock %}
{% endlayoutcontent %}

<div class='container space-y-s'>
    <h1 class='text-4xl'>Outside</h1>
    <p class='text-base'>Outside</p>
    <p class='text-base'>Outside</p>
    <p class='text-base'>Outside</p>
</div>
