---
layout: layouts/base
---
{% rendercontent 'partials/switcher' gap: 'gap-2' limit: 6 %}
<p>Rendered content</p>
<p>Rendered content</p>
<p>Rendered content</p>
<p>Rendered content</p>
<p>Rendered content</p>
<p>Rendered content</p>

{% block footer %}
<span>in the footer</span>
{% endblock %}

{% endrendercontent %}
