---
layout: layouts/base
title: Hello
component:
    text: 'Hello from the sample component'
---
<h1>{{ title }}</h1>
<h2>Heading level 2</h2>

{% bookshop "sample" bind: component %}

{% rendercontent 'partials/switcher' gap: 2 %}
<p>Rendered content</p>
<p>Rendered content</p>
<p>Rendered content</p>
<p>Rendered content</p>
<p>Rendered content</p>
<p>Rendered content</p>
{% endrendercontent %}
