{% css %}
<style>
    .switcher > * {
        flex-grow: 1;
        flex-basis: calc((30rem - 100%) * 999);
    }

    .switcher > :nth-last-child(n + {{ limit | default: 4 | plus: 1 }}),
    .switcher > :nth-last-child(n + {{ limit | default: 4 | plus: 1 }}) ~ * {
        flex-basis: 100%;
    }
</style>
{% endcss %}

<div class='switcher flex flex-wrap {{ gap | default: 'gap-1' }}'>
    {% block -%}
    {%- endblock %}
    <div class='footer'>
        {% block footer -%}
        {%- endblock %}
    </div>
</div>
